@using Mvc1.Models
@model IEnumerable<AdsumModel>
@using ClassLibrary1.user


@{


    User currentUser = (User)Session[Webutil.CurrentUser];

}

@if (Model!=null)
{
    foreach (var m in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-left:0px">
            <div class="advsum-item">
                <img src="@m.ImageUrl" alt="product-1" />
                <h2>@m.Title</h2>

                <p>@($"Rs.{m.Price:N0}/-")</p>
                <div class="advsum-btn bg-primary">@m.status</div>
            </div>
        </div>
    }


}